body {
    font-family: "Courier New", monospace;
    color: #eee;
    background-color: #111;
}

#container {
    text-align: center;

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#links a {
    color: #eee;
    margin: 5px;
    transition: opacity 400ms;
}

#links a:hover {
    opacity: 0.3;
    transition: opacity 200ms;
}
